doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        link(rel="stylesheet", href="css/index.css")

        title Full Node App
    body.m4-cloak

        script.
            globalThis.config = !{clientConfig}
            globalThis.darkMode = false

        script(type="module", src="js/index.js")